@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
margin: 0px;
color: white;
font-family: 'Kanit', sans-serif;
background-color: #C5C4D8;
}

div {
box-sizing: border-box;
}

#fixedBar {
display: inline-block;
position: fixed;
left: 0px;
top: 80px;
height: 100%;
width: 60px;
}

#LEDs {
display: inline-block;
position: fixed;
left: 0pt;
top: 0px;
width: 100%;
height: 60pt;
}

#LEDs, #fixedBar {
background-color: #353177;
z-index: 10;
}

#controls {
color: black;
display: inline-block;
position: relative;
top: 100pt;
left: 100pt;
width: calc(100vw - 150pt);
height: calc(100vh - 150pt);
padding: 20pt;
background-color: rgba(0,0,0,0);
border-radius: 10px;
border: solid 1px #ffffff78;
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
overflow-y: scroll;
}

#buttons {
padding-left: 0px;
margin-top: 0px;
height: 100%;
position: relative;
}

#buttons li {
display: inline-block;
width: 100%;
height: 40px;
filter: invert();
margin: 9px 0pt 0px 0px;
padding: 9px 0px;
text-align:center;
position: relative;
transition: background-color 0.2s;
}

#buttons li img {
	width: 60%;
}

#buttons li:hover {
	background-color: rgba(0,0,0,0.2);
}

#btnSettings{
	position:absolute !important;
	bottom: 90px;
	left: 0px;
}

.details {
	display: block;
	filter: invert(1);
	width: 150px;
	height: 70px;
	background-color: #5D5A92;
	position: absolute;
	top: 0px;
	left: 60px;
	border: solid 2px #ffffff59;
	border-left: none;
	border-radius: 0px 8px 8px 0px;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.2s, opacity 0.2s;
}

.details p{
	margin: 8px 0px;
}

#buttons li:hover .details{
	visibility: visible;
	opacity: 1;
}

::-webkit-scrollbar {
	width: 0px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #353177;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

#LEDs h2 {
display: inline-block;
float: left;
margin: 14pt 20pt 0pt 20pt;
color: #FFFFFF;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

#LEDsContainer {
height: 100%;
padding-top: 3px;
overflow: scroll;
border-left: solid 2px rgb(255 255 255 / 19%);
}

#LEDsList {
margin: 0px 0px 0px 20px;
padding: 0px;
height: 100%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}

#LEDsList div {
flex-shrink: 0;
width: 16pt;
height: 16pt;
margin-right: 10px;
text-align: center;
line-height: 20px;
border-radius: 2px;
font-weight: bold;
}

#color{
display: inline-block;
position: absolute;
top: 20pt;
left: 40px;
}
#color h2{ 
margin: 2pt 0pt; 
text-align: center;
}

#colorControls{
float:right;
margin-left: 10pt;
}

#selectedColor {
width: 90pt;
height: 90pt;
background-color: black;
margin: 4pt 0pt 0pt 0pt;
}

#effects{
display: inline-block;
position: absolute;
top: 20pt;
left: 350pt;
}

#effects h2 {
margin: 0pt 0pt 2pt 0pt;
}

#effects ul, #palettes ul {
margin: 0pt 0pt;
padding: 0pt;
height: 275pt;
width: 160px;
overflow: scroll;
}

#effects li, #palettes li {
display: block;
background-color: chocolate;
border: solid 1px black;
margin-bottom: 4pt;
color: white;
transition: background-color 0.2s;
}

#effects li:hover, #palettes li:hover{
	background-color: orange;
}

#palettes {
display: inline-block;
position: absolute;
top: 20pt;
left: 500pt;
}

#palettes h2{
margin: 0pt 0pt 2pt 0pt;
}

#colorPresets ul {
display: flex;
margin: 0px;
padding: 24px 16pt;
width: 200pt;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

#colorPresets li {
display: inline-block;
width: 26pt;
height: 26pt;
border-radius: 14pt;
flex-shrink: 0;
margin: 5px;
border: solid 1px rgba(0,0,0,0.31);
}

#colorPresets li i{
display:none;
}

#colorPresets li:hover{
opacity: 0.5;
}


#settings {
	display: inline-block;
	filter: invert(1);
	position: absolute;
	left: 60px;
	bottom: -10px;
	width: 350px;
	height: calc(100vh - 80px);
	background-color: #0e07268a;
	backdrop-filter: blur(16px);
	border-right: solid 2px rgb(255 255 255 / 19%);
	padding: 20px 5px 5px 30px;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.2s, opacity 0.2s;
}

#btnSettings:hover #settings {
	visibility: visible;
	opacity: 1;
}

#settings button{
	width: 75px;
	margin-left: 0px;
}

#settings input{
	width: 140px;
}

#currentEffect {
	position: absolute;
	background-color: #00000063;
	width: 100%;
	height: 100%;
	top: 0px;
	backdrop-filter: blur(7px);
	padding-left: 22px;
	font-size: 1.3em;
	visibility: hidden;
	transition: visibility 0.5s, opacity 0.5s;
}

#about{
	position:absolute;
	bottom: 0px;
	left: 35px;
	color: lemonchiffon;
	font-size: 0.9em;
}